{% extends "base.html" %} {% block content %}
<div class="flex justify-center p-4">
  <div class="flex justify-center items-center flex-col w-min border border-gray-200 p-20 gap-6">
    <h1 class="text-4xl font-bold">Sign In</h1>
    <form action="" method="post" novalidate class="flex flex-col gap-4">
      {{ form.hidden_tag() }}
      <p>
        {{ form.email.label(class_="form-label") }}
        {{ form.email(class_="form-control", size=32) }} {% for error in form.email.errors %}
        <p style="color: red">[{{ error }}]</p>
        {% endfor %}
      </p>
      <p>
        {{ form.password.label(class_="form-label") }}
        {{ form.password(class_="form-control", size=32) }} {% for error in form.password.errors %}
        <p style="color: red">[{{ error }}]</p>
        {% endfor %}
      </p>
      <p>{{ form.remember_me(class_="cursor-pointer") }} {{ form.remember_me.label(class_="cursor-pointer") }}</p>
      <p >{{ form.submit(class_="btn") }}</p>
    </form>
    <a href="{{ url_for('auth.register') }}" class="hover:text-blue-500">New User? Click to Register!</a>
  </div>
</div>
{% endblock %}
